.footer_base{
    width: 100%;
    max-width: 100%;

    height: 35rem;
}
.info_footer{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: aliceblue;

}
.seccion_politica_de_privacidad{
    width: 100%;
    height: 20%;
    background-color: #242424;
}
.informacion_adentro_footer{
    padding: 3rem 0rem 3rem 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.subtitulos_footer img{
    width: 6%;
    height: 2rem;
}
.redes_sociales_icons img{
    width: 6%;
    height: 2rem;
}
.informacion_footer{
    display: flex;
    align-items: center;

    display: grid;
    grid-template-rows: repeat(6,1fr);
}
.caja_footer1{
    display: grid;
    
}
.titulos_footer{
    font-size: 2.1rem;
    font-weight: 700;
}
.subtitulos_footer{
    cursor: pointer;
    display: flex;
    align-self: center;
    gap: 1rem;
    font-size: 1.5rem;
}
.caja_footer2{
    padding: 3rem 3rem 3rem 0rem;

    display: grid;
    grid-template-rows: repeat(3,1fr);    
}

.titulo_footer_tienda{
    display: flex;
    font-size: 3rem;
    font-weight: 900;
}
.redes_sociales_icons{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.redes_sociales_icons img{
    width: 50%;
    height: 2.5rem;
    cursor: pointer;
}
.icons_apps_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.icons_apps_footer span{
    font-size: 1.5rem;
    font-weight: 600;
}
.links_aplicaciones{
    display: flex;
    gap: 1rem;
}
.links_aplicaciones img{
    cursor: pointer;

}